*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gif{
    display: flex;
    flex-direction: row;
    padding: 19px;
}
button{
    margin-right: 10px;
    border: solid #fff;
    cursor: pointer;
}
.table{
    padding: 0;
}
/* images{
    height: 40px;
    width: 40px;
} */